<h1>
		Menu informacion
</h1>

<ul>
	<li>
		<a asp-controller="Informacion"  asp-action="ControladorVista"> Vista->Controlador</a>
	</li>
	<li>
		<a asp-controller="Informacion" asp-action="ControladorVistaModel"> Controlador -> Vista-Modelo</a>
	</li>
	<li>
		@Html.ActionLink("Vista --> Controller GET con 2 parametros", "VistaControllerGet","Informacion", new{ saludo ="Alejandro",year=2025})
		
	</li>
	<li>
		@Html.ActionLink("Vista --> Controller GET sin Parametros", "VistaControllerGet", "Informacion")
		
	</li>
	<li>
		@Html.ActionLink("Vista --> Controller GET con 1 parametro", "VistaControllerGet", "Informacion", new { year = 2025 })
	</li>
	<li>
		@Html.ActionLink("Vista --> Controller GET con 1 parametro", "VistaControllerGet", "Informacion", new { saludo = "Alejandro" })
	</li>

	<li>
		@Html.ActionLink("Vista --> Controller POST", "VistaControllerPost", "Informacion")
	</li>
</ul>

