<h1 style="color:red">Matematicas</h1>

<li>
	@Html.ActionLink("Matematicas --> GET","VistaMatematicasGET","Matematicas", new{num1=3,num2=12})
</li>
<li>
	@Html.ActionLink("Matematicas --> POST", "VistaMatematicasPOST", "Matematicas")
</li>
<li>
	@Html.ActionLink("Conjetura de Collatz", "VistaConjeturaCollatz", "Matematicas")
</li>
<li>
	@Html.ActionLink("Tabla de Multiplicar", "TablaMultiplicarSimple", "Matematicas")
</li>
<li>
	@Html.ActionLink("Tabla de Multiplicar", "TablaMultiplicarModel", "Matematicas")
</li>

